@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
    color: #484877;
    /* scroll-behavior: smooth; */

}

/* -------nav-style-start--------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 0;
    z-index: 2;
}

.logo,
.home-logo {
    width: auto;
    height: fit-content;
    padding: 0;
    margin-right: 20px;
}

.logo img,
.home-logo img {
    max-width: 150px;
    padding: 0;
}

.navbar-items {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 80%;
    margin-bottom: 10px;

    align-items: end;
    padding: 0;
}

.navbar-nav {
    display: flex;
    flex-direction: row;

}

.navbar-nav {
    align-self: center;
}

.nav-item {
    margin-left: 40px;
    font-size: 20px;
    font-weight: 400;
    color: #484877 !important;
}

.nav-item a {
    color: #484877;
}

.navbar-items li a {
    position: relative;
}
.sticky-nav 
.nav-item a:hover{
    color: #fff !important;
} 

.navbar-items li a::before {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 0;
    border-bottom: 2px solid black;
    width: 0;
    transition: width ease 0.3s;

}

.navbar-items li a:hover::before {
    width: 100%;
    /* transform: scaleX(50); */
}

.service {
    position: relative;
}

.ser-dd ul {
    width: 500px;
    padding-left: 0px;
    min-height: 0px;
}

.ser-dd ul .nav-link {
    color: #005395;
    padding: 5px 0;
    font-size: 20px;
}
.ser-dd ul li{
    list-style-type:none;
    padding: 5px 30px;
}

.ser-dd {
    transition: 0.3s linear;
    transform-origin: top;
    opacity: 0;
    position: absolute;
    top: 40px;
    z-index: -23;
    transform: scaleY(0);
    padding: 20px;
    background: whitesmoke;
}

.all-ser .ser-dd{
    /* background:linear-gradient(to bottom, #efba1c7e , #ffffff92); */
    /* background-color: #efba1c7e; */
}
.all-ser .ser-dd ul .nav-link{
    color: #005395 !important;
    padding: 5px 0;
    list-style: none !important;
}
.service .ser-dd .nav-link:hover{
    color: black !important;
}
.service .ser-dd .nav-link:hover::before{
    width: 60%;
}
.service:hover .ser-dd {
    transform: scaleY(1);
    opacity: 1;
}

.navbar-icons {
    display: flex;
    justify-content: space-between;

    /* padding: 20px; */
}

.i-icon {
    margin: 10px;
    margin-left: 20px;
}

.i-icon a {
    color: #484877;
}

.hamburger-menu {

    display: none;
}

.fa-bars {
    font-size: 30px;
    z-index: 500;
    color: #efbb1c;

}

.home-color {
    color: white !important;
}

.home-color i {
    color: white;
}

.home-ham i {
    color: #484877;
}

.des-logo{
    display: block;
}
.mbl-logo{
    display: none;
}

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #005395;
    height: 60px;
    z-index: 1000;
}

.sticky-nav a {
    color: #ffff;
    font-size: 18px;
}

.sticky-nav i {
    color: #ffff;
}

.sticky-logo {
    width: 100px;
    margin-top: -50px !important;
}
.des-logo.sticky-logo{
    margin-top: -60px !important;
}

/* --------nav-style-end--------- */

/* --------sidenav-style-start------------- */
.sidenav-container {
    position: absolute;
    top: 0px;
    transform: translateX(404px);
     right: 0px;
    background-color:#efba1c;
    width: 400px;
    height: 100vh;
    z-index: 200;
    display: flex;
    flex-direction: column;
    transition:  0.45s linear;
}

.show-sidenav {
    right: 0px;
    /* display: block; */
    transform: translateX(0px);

}

.sidenavbar-items .side-navbar-nav {
    display: flex;
    flex-direction: column;
}

.sidenav-container nav {

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.sidenavbar-items ul {
    width: 100%;
    list-style: none;
    padding: 30px 0 30px 0;
    text-align: center;
}

.sidenavbar-items li {
    margin: 20px 0 10px 0;
}

.sidenavbar-items a {

    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.close-menu {
    width: 100%;
    display: flex;
    justify-content: end;
}

.close-menu i {
    font-size: 35px;
    padding: 20px 30px 0;
    color: white;
}

.sidenav-container .navbar-icons i {
    color: white;
}

.sidenavbar-items li a {
    position: relative;
}

.sidenavbar-items li a::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    border-bottom: 2px solid #484877;
    width: 0;
    transition: width ease 0.3s;

}

.sidenavbar-items li a:hover::before {
    width: 100%;
    /* transform: scaleX(50); */
}

.icons {
    margin-top: -40px;
}



/* --------carousel-style-start---------*/
.home-banner-sec {
    margin-top: -91px;
    z-index: -2;

}

/* .home-banner-sec::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/27..3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
   
}  */

.home-banner-img {
    position: relative;
    width: 100%;
    /* padding: 0; */
}

.caption-inner {
    position: absolute;
    top: 91px;
    left: 0;
    padding: 130px 20px 100px 140px;

}

.caption-banner {
    border-bottom: 2px solid white;
    width: fit-content;
    margin-left: 20px;
    padding: 10px;
    font-size: 30px;
    font-weight: 400;
    color: white;
}

.caption-head {
    margin: 20px;
    font-size: 60px;
    font-weight: 400;
    color: #484877;
}

.caption-head b {
    color: white;
    font-weight: 500;
}

/* --------carousel style-end----------- */


/* --------about-style-start--------- */
/* recent about start---------------------- */

.about1-col h5 {
    color: #efba1c;
}

.about1-col span {
    font-size: larger;
    color: #efba1c;
}

.about1-col p {
    font-size: 16px;
}

.about-sec {
    background-color: rgb(232, 231, 230);
    padding: 10px;

}

.about-banner {
    background-image: url(./images/30.png);
    /* backface-visibility: hidden; */
    background-size: contain;
    background-repeat: no-repeat;

}

.about-img-banner {
    height: 400px;
}

.about-img-banner img {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
    object-position: top;
}

.about-ceo {
    padding: 80px 30px;
    color: #005395;
}

.about-ceo span {
    color: #efba1c;
    font-size: larger;
}

.about-ceo h4 {
    font-weight: 600;
}

.about-ceo p {
    font-weight: 400;
}

.about-ceo-icons i {
    color: #005395;
}

.vision {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    margin-top: 10px;
    border: 1px solid #005395;
    background-color: #005395;
    color: white;
    border-radius: 5px;
}

.vision-col h3 {
    color: #efba1c;
    text-align: center;
}

.vision-col {
    text-align: justify;
    padding: 5px;
    margin-top: 10px;

}

.journey h1{
    text-align:center
}
.journey-items{
    padding: 10px;
    display: flex;
    place-content: center;
    justify-content: space-evenly;
    

}


.round{
    padding: 20px 0 20px 20px;
    /* padding:  0 50px 0 50px; */
}
.round p {
    background-color:#005395;
    width: fit-content; 
    border-radius: 100%;
   text-align: center;
    font-weight: 600;
    padding: 20px;
    font-size: 40px;
    color: #efba1c;
}


.journey-items{
    display: flex;
    place-content: center;
    justify-content: space-evenly;
    

}

.journey-item{
    place-content: center;
    justify-content: center;
    box-shadow: 0 0 5px wheat,
    0 0 10px wheat;
    margin-bottom: 20px;
    background-color: white;
    cursor: pointer;

}
.journey-item:hover{
    transform: scale(1.1);
}

.journey-item h3{
    text-align: center;
    font-size: 23px;
    margin-bottom: 10px;
    color: #efba1c;
}
.journey-item p{
    text-align: justify;
}
.journey-icons{
    justify-content: center;
    place-content: center;
    display: flex;
}






/* recent about end---------------------- */
.Careers{
    display: flex;
    justify-content: space-evenly;
    background-color: #005395;
    color: #fff;
}

.career-head {
    justify-content: center;
    align-items: center;
    padding: 50px 0px 0px 50px;
    margin-top: 30px;
}
.career-btn{
    display: flex;
    margin-top: 40px;
    padding-left: 50px;


}
.career-para p{
    font-size: large;
    display: flex;
    text-align: center;
    padding-left: 43px;
}
.career-btn button{
    background-color: #005395;
    padding: 10px;
    border-radius: 5px;
    color: white;
    border: 1px solid efba1c;
    display: flex;
}

.career-head span{
    color: #efba1c;
}
.career-img{
    height: 450px;
    width: 450px;
    display: flex;
}

.career-img img{
    float: right;
}

.career-join{
    display: inline-flex;
    justify-content: space-evenly;
    row-gap: 40px;
    padding: 15px;
    border-radius: 5px;
    justify-content: center;
    place-content: center;
    text-align: center;
    margin-top: 40px;
}
.join-head h3{
    color: #efba1c;
    margin-bottom: 10px;
    font-size: xx-large;
}
.join-head span{
    color: #efba1c;
    font-size: large;
}

.join-head p{
    font-weight: 500;
}
.benefits{
    padding: 30px;
    
}
.benefit-head{
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    color: #efba1c;
    font-size: larger;
}

.accordion-button{
    background-color: #005395;
    color: #efba1c;
    font-size: 25px;
}
.submit-career button{
    background-color: #005395;
    color: #005395;
    font-weight: bold;
}

.join-img{
    display: flex;
    object-fit: contain;
    margin-bottom: 0;
}

.join-img img{
    height: 100%;
    width: 100%;
    margin-top: -100px;
    z-index: -1;
}



/* carrer page start-------------------------------------------- */




/* carrer page end-------------------------------------------- */

.about-container {
    padding: 0 60px;
}

.about-content {
    padding: 80px 0 30px 0;
}

.about-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-img img {
    height: 100%;
    width: 100%;
    border-radius: 10px;

    object-fit: cover;
}

.content-head {
    line-height: 1.5;
    font-size: 35px;
    font-weight: 400;
}

.content-head b {
    color: #efbb1c;
    font-weight: 600;
    font-size: 45px;
}

.about-content .content-caption {
    /* margin-top: 10px; */
    font-size: 20px;
    font-weight: 400;
}

.about-content button,
.feature-col button {
    padding: 10px 25px 10px 25px;
    font-weight: 500;
    margin: 10px 20px 0 0;
    border-radius: 50px;
    font-size: 20px;
    border: none;
}



.counter-con {
    display: grid;
    grid-template-columns: 2fr 2fr;

}

.counter {
    font-size: 35px;
    /* border: 1px solid red; */
}

.counter span {
    font-size: 45px;
    font-weight: 500;

}

.counter p {
    font-size: 18px;
    color: #605e5e;
    margin-top: -10px;
}

.about-sec .content-btn1,
.feature-sec .content-btn1 {
    color: white;
    background-color: #005395;
}

.about-sec .content-btn2,
.feature-sec .content-btn2 {
    background: transparent;
    color: #484877;
    border: 2px solid #484877 !important;
    /* transition: border-color 0.3s  ease-in; */
}

.a-bout-sec .content-btn2,
.feature-sec .content-btn2 :hover {
    background-color: #efbb1c;
    color: white;
    border: none !important;
    transition: background-color 0.5s ease-out;


}



/* --------about-style-end--------- */

/* --------quote-sec-start----------- */

.quote-banner-sec {
    height: 50vh;
    width: 100%;

}

.quote-banner-con {
    height: 100%;
    background-image: url(./images/quote-banner.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

.quote-banner-con::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #37426acd;
}

.quote-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.quote-content h2 {
    color: #efbb1c;
    z-index: 5;
    font-weight: 500;
    font-size: 40px;
}

.quote-content p {
    color: #fff;
    z-index: 5;
    font-size: 25px;
}

.quote-content .icon {
    z-index: 5;
}

/* --------quote-sec-start----------- */

/* ----------sectors-we-serve------------ */

.sertors-elevate-con h2 {
    font-size: 40px;
    font-weight: 500;
    color: #efba1c;
    margin-top: 100px;
}

.sectors-div {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    gap: 30px;
}

.sector-item {
    /* border: 1px solid black; */
    height: 200px;
    position: relative;
    border-radius: 10px;
    box-shadow: 1px 1px 7px #37426acd;
    overflow: hidden;
}

.sector-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #37426a90;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.sector-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.sector-item-inner {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.sector-item-inner p {
    color: #ffff;
    font-size: 25px;
    font-weight: 400;
    margin-top: 10px;
}

.sector-item:hover .sector-item-inner {
    opacity: 0;

}

.sector-item:hover::after {
    background-color: transparent;

}

.sector-item:hover img {
    transform: scale(1.08);

}

/* ----------sectors-we-serve------------ */



/* --------feature style start---------- */

/* .feature-container{
    padding: 30px;
} */
.feature-content {
    padding: 30px 0 30px 0;
    margin-top: 80px;
}

.feature-col1 {
    /* padding: 50px !important; */
    text-align: left !important;
}

.feature-col {
    /* border: 1px solid #484877; */
    text-align: center;
    /* padding: 30px; */
    align-content: center;
}

.feature-head {
    font-weight: 500;
    margin: 10px;
    font-size: 25px;
}

.feature-caption {
    font-weight: 400;
    color: #605e5e;
    font-size: 18px;
    /* padding: 10px; */
}

.feature-col i {
    font-size: 40px;
    padding: 20px;
    color: #efbb1c;
}

.feature-img {
    height: 100%;
    object-fit: cover;
    margin-left: 10px;
}

.feature-details {
    font-weight: 400;
    font-size: 20px;
}


/* ------------features style end------------- */


/* -----------client style start------------- */
/* 
.client-sec{
    background-color: #005395;
}
.client-content{
    padding: 100px 0 100px 0;
    text-align: center;
}
.client-head{
    padding: 20px;
    font-size: 60px;
    font-weight: 400;
    color: white;
}
.client-head b{
    font-weight: 500;
    color: #484877;
}
.client-caption{
    color: white;
    font-size: 20px;
} */
/* .client-content img{
    width: 20%;
} */

.client-sec {
    padding: 30px;
}

.client-pic {
    background-color: rgba(255, 255, 255, 0.336);
}


.clients {
    height: 80%;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* background-color: white; */
}

.client {
    /* border: 1px solid white; */
    background-color: rgba(255, 255, 255, 0.719);
    flex-direction: row;
}

.client img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: cover;
}

.client-content {
    padding: 100px 0 100px 0;
    text-align: center;
    background-color: #005395;
}

.client-head {
    padding: 20px;
    font-size: 45px !important;
    font-weight: 400;
    color: white;
}

.client-head b {
    font-weight: 500;
    color: #efbb1c;
}

.client-caption {
    color: white;
    font-size: 20px !important;
    padding: 0 30px;

}

.client-container {
    background-color: rgba(245, 245, 245, 0.499);
    border-radius: 20px;
}

.client-logo-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-logo img {
    max-width: 100%;
    height: 100px;
    object-fit: contain;
}

#client-logo-slider .owl-nav .owl-prev,
#client-logo-slider .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 400;
}

#client-logo-slider .owl-nav .owl-prev {
    left: -2%;
}

#client-logo-slider .owl-nav .owl-next {
    right: -2%;
}

.client-logo img {
    max-width: 100%;
    height: 100px;
    object-fit: contain;
}

/* ------------client style end -------------------*/

/* technology start--------------------------------- */

.technology-head {

    margin-top: 80px;
    margin-bottom: 30px;
}

.tech-imgs {
    display: flex;
    justify-content: center;
    align-content: center;
    /* row-gap: 25px; */
    justify-content: space-between;
    place-content: center;
    padding: 10px;
    margin-bottom: 20px;
    gap: 25px;
}

.tech-img {
    height: auto;
    width: 150px;
    padding: 20px;
    justify-content: center;
    place-content: center;
    border-radius: 10px;
    cursor: pointer;
}


.tech-img h3 {
    text-align: center;
}

.tech-img svg {
    height: 100%;
    width: 100%;
}

.tech-img img {
    height: 100%;
    width: 100%;
}

/* howwe-content start---------------------------------------------- */

.howwe-head {
    margin-top: 80px;
}

.howwe-content {
    display: flex;
    margin-top: 70px;

}

.howwe-contents {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.round {
    display: flex;
    place-content: center;
}

.howwe-rounds {
    border: 1px solid #efba1c;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    text-align: center;
    align-items: center;
    place-content: center;
    display: flex;

}

.howwe-num {
    border: 15px solid #efba1c;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    justify-content: center;
    place-content: center;
}

.howwe-para {
    text-align: center;
    place-content: center;
}

.howwe-num svg {
    border-radius: 50%;
    color: white !important;
    border: none !important;
    opacity: 0.6;
    font-size: 32px;
    border: #605e5e;
}

.howwe-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.howwe-icons-item{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

/* quality start----------------------------------------------- */
.quality {
    background-color: #005395;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 40px;
    height: 250px;
    color: #efbb1c;
}

.quality-head span {
    color: #fff;
}

.quality-head h3 {
    margin-top: 15px;
    color: #efbb1c;
}

.quality-para {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.quality-para p {
    font-size: larger;
}

.quality-items {
    margin-top: -80px;
    padding: 10px;
    display: flex;
    place-content: center;
    justify-content: space-evenly;


}

.quality-item {
    place-content: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 0 5px wheat,
        0 0 10px wheat;
    margin-bottom: 20px;
    background-color: white;

}

.quality-item h3 {
    text-align: center;
    margin-top: 10px;
    font-size: 23px;
}

.quality-item p {
    text-align: center;
}

.quality-icons {
    justify-content: center;
    place-content: center;
    display: flex;
    margin-bottom: 10px;
}

.quality-btn {
    background-color: #005395;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    display: flex;
    place-content: center;
    color: #ffff;
}


/* our partner start---------------------- */
.our-partners-container {
    padding: 20px 0;
}

.our-partners-heading {
    font-weight: bold;
    color: #484877;
}

.our-partners-item {
    margin-bottom: 20px;
}

.our-partners-img {
    width: 180px;
    height: 180px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.our-partners-img:hover {
    transform: scale(1.1);
}

/* ------------review-start------------------------ */
.review-container {
    padding: 40px;
}

.review-row {
    padding: 40px 0 40px 0;
}

.review-content {
    text-align: center;
    padding: 30px 50px 30px 50px;
}

.review-head {
    font-weight: 400;
    font-size: 50px !important;
}

.review-head b {
    color: #efbb1c;
    font-weight: 500;
}

.review-caption {
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
}

.testimonial-carousel img {
    width: 20%;
    height: 30%;
    border-radius: 50%;
    padding: 0;
    margin-bottom: 30px;
}

.review-section {
    height: auto;
}

.review-section .container-fluid {
    background-image: url(./images/img-7.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.review-section .carousel {
    padding: 30px;
}

.testimonial-head {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 25px;

}

.testimonial-caption {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
}

.testimonial-carousel h6 {
    font-size: 20px !important;
}

/* -------------review-style-end----------------------- */

/* ---------------stand-for-style-start----------------- */
.stand-for-section {
    padding: 100px;
}

.stand-for-section hr {
    width: 60%;
    margin: auto;
}

.stand-for-row {
    margin-bottom: 30px;
}

.stand-for-head {
    text-align: center;
    font-weight: 400;
    font-size: 45px !important;

}

.stand-for-head b {
    color: #efbb1c;
    font-weight: 500;

}

.mission-row {
    margin-top: 30px;
}

.mission-col {
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.mission-col i {
    font-size: 50px;
    color: #efbb1c;
    margin: 50px;
}

.mission-col h3 {
    margin: 20px;
    font-size: 30px;
}

.mission-col p {
    font-size: 20px;
    font-weight: 400;
    margin: 20px;

}


/* ---------------stand-for-style-start----------------- */

/* -----------------------best-solution-style-start---------------------- */

.best-solution-section {
    height: auto;
    color: white;
    padding: 50px 0 0 0;
}


.best-solution-section .container-fluid {


    height: 100%;
    background-image: url(./images/14.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

}

.best-solution-content {
    padding: 150px 0 100px 0px;

    /* margin-top: 250px; */
}

.best-solution-head {

    font-size: 55px;
    font-weight: 400;

}

.best-solution-head b {
    font-weight: 500;
    color: #484877;
}

.best-solution-caption {
    font-weight: 400;
    margin-top: 20px;
    font-size: 25px;
}



/* -----------------------startup-style-end---------------------- */

/* portfolio style start------------------------------- */


.project {
    margin-top: 40px;
    margin-bottom: 40px;
}

.project-row {
    display: flex;
    place-content: center;
}


.project-col button {
    border-radius: 10px;
    background-color: #005395;
    color: #fff;
    border: #efba1c;


}

.project-col button:hover {
    background-color: white;
    color: #005395;
    border: 1px solid #005395;

}

.proj h3 {
    text-align: center;
}

.project-imgs {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    place-content: center;
    justify-content: space-between;
    grid-row: column;
    margin-top: 30px;
    position: relative;
    gap: 80px 30px;
}

.project-img {
    height: 25vh;
    width: 90%;
    /* background-color: #005395; */
    padding: 0;
    position: relative;
    transition: background-color 0.3s ease;


}


.project-img::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #00529523;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;


}

.project-img a {
    text-decoration: none;
}

/* .project-img-inner {
    position: absolute;
    top: 120px;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.3s ease;

} */

.project-img-inner p {
    text-align: center;
    color: black;
    background-color: #005395;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 20px;
    color: white;
    padding: 5px;
    text-decoration: none;
}

.project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    /* border: 1px solid #005395; */


}

/* .project-img:hover .project-img-inner{
    opacity: 0;
   
   }*/
.project-img:hover::after {
    background-color: transparent;

}

.project-img:hover {
    transform: scale(1.1);

}



/* portfolio style end------------------------------- */


/* --------stay-contact-style-start--------- */


.stay-contact-sec {
    background-color: #005395;

    padding: 30px 0 30px 0;

}

.stay-contact-content {
    padding: 80px 0 80px 0;
}


.stay-contact-head {
    font-size: 45px;
    font-weight: 400;
    color: white;
}

.stay-contact-head b {
    color: #efbb1c;
    font-weight: 600;
}

.stay-contact-caption {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 400;
    color: white;
}


.stay-contact-location {
    padding: 0;
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stay-location-items {

    /* padding: 30px; */
    text-align: center;

    margin: 20px;
}

.stay-loaction-icon i {
    font-size: 50px;
    /* border: 1px solid #efbb1c; */
    /* padding: 20px; */
    border-radius: 5px;

    color: #efbb1c;
    margin: 10px;
}

.stay-location-items hr {
    height: 2px;
    width: 20%;
    /* align-items: center; */
    color: white;
    background-color: #fff;
}

.stay-location-items .feature-head {
    border-bottom: 2px solid white;
    width: fit-content;
    padding-bottom: 10px;
    color: white;
}

.stay-location-items .feature-caption {
    color: white;
    font-weight: 400;
}

/* --------about-style-end--------- */


/* ---------------home-page end--------------------------- */

/* --------------about-page-start--------------------------- */

.about-banner {
    background-image: url(./images/25.png);
    /* backface-visibility: hidden; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    color: white;
    background-color: #005395;
    height: 50vh;
    position: relative;
    overflow: hidden;
    /* background-color: rgba(30, 30, 30, 0.5); */
    /* opacity: 0.5; */

}

.background-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color:; */
}

.about-banner-container {
    position: relative;
    z-index: 1;
}

.about-banner-head {
    font-size: 60px;
    font-weight: 400;
    /* border: 1px solid #484877; */
    /* background-color: rgba(255, 255, 255, 0.266); */
    width: fit-content;
    /* text-shadow: -2px -2px 1px rgb(253, 251, 251); */
    /* color: #efbb1c; */

}

.about-row {
    padding: 100px 0 20px 0;

}

.about-banner-content hr {
    width: 20%;
    background-color: rgb(2, 2, 2);
    border: none;
    height: 2px;
}

.about-banner-caption {
    font-weight: 400;
    font-size: 25px;
    margin-top: 20px;
    text-wrap: wrap;
    /* text-shadow: -2px -2px 1px rgb(253, 251, 251); */

    /* background-color: rgb(255, 255, 255); */
    width: fit-content;
}


.abouts-content {
    padding: 30px;
    margin-top: 10px;
}



.round-content {
    /* margin-top: 10px; */
    padding: 30px 50px 30px 50px;
}

.round-content h3 {
    font-weight: 400;
    font-size: 45px;
    border-bottom: 2px solid #efbb1c;
    padding-bottom: 10px;
    width: 80%;
}

.round-content p {
    font-weight: 500;
    font-size: 20px;
}

.about-snd-section-inner {
    height: 100%;
    width: 100%;
    /* background-image: url(./images/11.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}

.about-snd-section {
    height: auto;
}

.about-feature {
    height: auto;
}

.about-fdeature-container {
    height: 100%;
    background-image: url(./images/10.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}

.about-feature-sec {
    padding: 60px;
}

.about-snd-section hr {
    width: 100%;
}

.about-feature-sec .mission-col {
    text-align: left;

}

.about-feature-sec .mission-col h3 {
    font-weight: 500;

}

.about-feature-sec .mission-col i {
    margin: 20px;
}

.about-feature-sec .mission-col p {
    padding-top: 0;
    margin-top: -10px;

}

.about-feature-sec .mission-col .mtt-5 {
    padding: 30px 0 20px 0 !important;
    /* margin-top: 10%; */
}

.about-feature-sec hr {
    width: 90%;
}

.about-feature-sec h1 {
    font-weight: 400;

}

.about-feature-inner {
    text-align: center;
}

/* --------------about-page-end-------------------------------- */




/* ------------service page start-------------------- */
/* ------------service banner start-------------------------- */

.service-content {
    padding: 80px 50px 80px 50px;
    text-align: center;

}

.service-banner1 {
    background-color: #005395;
}

.service-head {
    line-height: 1.5;
    font-size: 50px;
    font-weight: 400;
    color: #efbb1c;
}

.service-head b {
    color: white;
    font-weight: 600;
}

.service-content hr {
    width: 30%;
    height: 2px;
    border: none;
    background-color: white;
}

.service-caption {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 400;
    color: #efbb1c;
}

.service-content button {
    padding: 10px 25px 10px 25px;
    font-weight: 500;
    margin: 10px 20px 0 0;
    border-radius: 50px;
    font-size: 20px;
    border: none;
}

.content-btn1 {
    color: #efbb1c;
    background: white;
}

.content-btn2 {
    background: transparent;
    border: 2px solid white !important;
    color: white;
    /* transition: border-color 0.3s  ease-in; */
}

.content-btn2:hover {
    background-color: #efbb1c;
    color: white;
    border: none !important;
    transition: background-color 0.5s ease-out;


}

.service-banner2 {
    padding: 0;
}

.service-banner2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-position: center;
}

/* ------------service banner end-------------------------- */

/* -----------service-topper-satrt----------------------------- */

.services-top {
    padding: 30px;
    /* border: 1px solid red; */
    color: #484877;
}

.services-top .service-head {
    font-size: 35px;
    color: #484877;
}

.services-top .service-caption {
    font-size: 20px;
    color: #484877;
}

.services-top .service-head b {
    color: #efbb1c;
}

.services-top hr {
    width: 100%;
    background-color: #005395;
}

.services-top .service-content {
    padding: 80px 50px 0 50px !important;
    /* border: 1px solid #484877; */
  

}

/* -----------service-topper-satrt-----------------------------  */

/* ----------service-items-start------------------------- */

.readmore {
    color: #4b4bd6;
    text-decoration: none;
}

.readmore:hover {
    color: blue;
}

.service-items {
    padding: 30px;
    text-align: center;
}

/* .service-items .feature-head{
    color: #efbb1c;
} */

/* .service-icon{
    border: 1px solid #efbb1c;
   width: fit-content;
   border-radius: 5px;
   padding: 20px;
   background-color: #005395;
   margin-left: 35%;
   margin-bottom: 20px;
} */
.service-icon i,
.service-icon svg {
    width: 100px;
    height: 100px;
    /* font-size: 50px; */
    /* border: 1px solid #efbb1c; */
    padding: 20px;
    border-radius: 5px;
    background-color: #efbb1c;
    color: white;
    margin: 10px;
}

/* ------------service-items-end------------------------- */

/* -----------------------startup-style-start---------------------- */

.startup-section {
    height: 120vh;

    padding: 50px 0 0 0;
}


.startup-section .container-fluid {


    height: 120vh;
    background-image: url(./images/Service.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

}

.startup-content {
    padding: 100px 60px 0px 50px;

}

.startup-head {
    line-height: 1.5;
    font-weight: 400;
    font-size: 40px;
}

.startup-head b {
    font-weight: 500;
    color: #efbb1c;
}

.startup-caption {
    font-weight: 400;
    margin-top: 20px;
    font-size: 20px;
}

.service-progress .progress-inner {
    margin: 30px 0 30px 0;
}

.service-progress .progress {
    /* margin: 30px 0 30px 0; */
    padding: 0px;
    height: 30px;
    border-radius: 30px;


}

.progress-inner h4 {
    font-size: 25px;
}

.service-progress .progress-bar {
    background-color: #005395 !important;
    font-size: 20px;
    font-weight: 400;
}


/* -----------------------startup-style-end---------------------- */

/* ------------service-page-end-------------------- */

/* --------------------web devlopment start------------------ */
.Webapp-banner {
    background-image: url(./images/web\ development\ banner.png);
    /* backface-visibility: hidden; */
    /* background-size: contain; */
    /* background-repeat:no-repeat ; */

}
.Webdesign-banner{
    background-image: url(./images/Web\ Design\ Banner.png);
}
.mblapp-banner{
    background-image: url(./images/mbl-app-banner.png);
}

.dm-banner{
    background-image: url(./images/digital-marketing-banner.png);
}
.cb-banner{
    background-image: url(./images/corporate-branding-banner.png);
}
.gd-banner{
    background-image: url(./images/graphic-design-banner.png);
}
.seo-banner{
    background-image: url(./images/seo-banner.png);
}
.smo-banner{
    background-image: url(./images/smo-banner.png);
}

.about-service-content {
    color: black;
    font-size: 22px;
    text-align: center;
    margin-top: 80px;
}

.about-service-content h2 {
    color: #484877;
    font-weight: 700;
    font-size: 40px;
}

.service-tech h3 {
    font-size: 35px;
    color: #efbb1c;
}

.web-technologies-item {
    margin-top: 20px;
    color: #484877;
    font-weight: 600;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 7px grey;
    padding: 15px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.web-technologies-item p{
    margin: 0 0 0 15px;
    width: fit-content;
    padding: 0;
    line-height:1;
}



.web-technologies {
    display: grid;
    grid-template-columns:Repeat(5,1fr);
    justify-content: center;
    gap: 25px;

}

.web-technologies .head {
    background-color: #005395;
    color: #484877;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    /* padding: 10px 20px; */
}

.service-process-sec {
    margin-top: 100px;
    margin-bottom: 80px;
    /* border: 1px solid red; */
}

.service-process-sec h2 {
    font-size: 40px;
    font-weight: 600;
}

.process-item-inner {
    border-left: 3px solid #484877;
    border-right: 3px solid #484877;
    border-top: 1px solid #4848773f;
    border-bottom: 1px solid #4848773f;
    border-radius: 50px;
    width: 400px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin: 30px 0;
}

.process-item-inner h4 {
    border: 5px solid #efbb1c;
    border-radius: 50%;
    height: fit-content;
    margin-top: 5px;
    padding: 8px 18px;
}

.process-item-inner p {
    font-size: 22px;
    color: #484877;
    border-radius: 30px;
    border-right: 3px solid #efbb1c;
    border-bottom-left-radius: 0;
    /* border-top: 5px  dashed #efba1c49; */
    border-bottom: 5px dashed #efba1c5d;
    padding: 0px 30px;
    margin-top: 15px;
    text-align: right;
}

.process-item-col {
    margin-top: 20px;
}

.process-item {
    padding-left: 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

/* .vertical-line{
    height: 60px;
    width: 10px;
    border-left:1px solid black ;
    border-right:1px solid black ;
  } */

.web-dev-process-img {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;

}

.web-dev-process-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.web-dev-process-img-col {
    margin-top: -60px;
}

.we-provide {
    background-color: whitesmoke;
    padding-bottom: 80px;
}

.we-provide-sec {
    width: 90%;
    margin: auto;
    padding-top: 20px;
}

.we-provide-sec h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 45px;
    text-align: center;
}

.we-provide-con {
    /* padding: 20px 0; */
}

.we-provide-col {
    display: flex;
    margin-top: 40px;
}

.we-provide-item {
    background-color: white;
    box-shadow: 1px 1px 7px #c1c0c0;
    display: grid;
    grid-template-columns: 2fr 2fr;
    transform: translateY(0) translateX(0);
    transition: 0.3s linear;
}

.we-provide-item:hover {
    transform: translateY(-10px) translateX(0);
    /* z-index: 5; */
}

.we-provide-content {
    padding: 0 20px 0 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 50px 0; */
}

.we-provide-content h3 {
    font-size: 40px;
    font-weight: 500;
}

.we-provide-content p {
    font-size: 18px;
    margin-top: 20px;
}

.we-provide-img {
    width: 100%;
    height: 100%;
    padding: 50px;
}

.we-provide-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.faq-sec {
    padding: 80px 0;
}
.faq-sec .row{
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.faq-col h2 {
    font-size: 45px;
    font-weight: 600;
}

.faq-sec .accordion {
    border-radius: 0;
}

.faq-sec .accordion-item {
    border: none !important;
    margin-top: 30px;
}

.faq-sec .accordion-item h2 button {
    font-size: 25px;
    padding: 20px;
}

.faq-sec .accordion-item .accordion-body {
    font-size: 20px;
}

.faq-sec .accordion-button {
    background-color: #484877c1;
    color: white;
    border-radius: 0;
}

.faq-sec .accordion-button.collapsed {
    border-radius: 0 !important;
    background-color: #67678d92;
}

.faq-sec .accordion-button.collapsed:hover {
    background-color: #484877c1;
}

.faq-sec .accordion-button:focus {
    outline: none;
    box-shadow: none;
}

.accordion-item:first-of-type>.accordion-header .accordion-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.accordion-button::after {
    color: white !important;
}

.start-your-project-sec {

    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    text-align: end;
}

.start-your-project-sec h2 {
    font-size: 45px;
    font-weight: 600;
    line-height: 1.2;
}

.start-your-project-sec button {
    padding: 5px 30px;
    border: none;
    background-color: #484877;
    color: #fff;
    width: fit-content;
    font-size: 25px;
    align-self: self-end;
    margin-top: 20px;
    /* border-radius: 10px; */
}

.start-your-project-sec button:hover {
    background-color: transparent;
    border: 1px solid #484877;
    color: #484877;
}

/* ------------------------------------------------------------------------------------------------------------ */

/* -----------contact page-style-start--------------------- */

/* ------------contact-banner-style-start------------------- */
.contact-banner {
    position: relative;
    height: 60vh;
    width: 100%;
    overflow: hidden;
    /* Hide overflowing content */
}

.background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/5.webp);
    background-size: cover;
    opacity: 0.5;
    /* Set opacity for the background image */
    z-index: -1;
    /* Ensure the background stays behind other content */
}

.contact-content {
    padding: 80px 30px;
}

.contact-head {
    font-weight: 400;
    font-size: 60px;
}

.contact-head b {
    font-weight: 500;
    color: #efbb1c;
}

.contact-content hr {
    border: none;
    background-color: white;
    height: 2px;
    width: 30%;
}

.contact-caption {
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
}


/* ------------contact-banner-style-end------------------- */

/* -------------contact-from-style-start ---------------- */

.contact-section {
    background-color: #005395;
}

.contact-row {
    padding: 50px;
}

.contact-form {
    padding: 50px 0 50px 0;
    /* border: 1px solid #484877; */
}

.form-content {
    padding: 30px 0 30px 0;
}

.form-head {
    font-size: 50px;
    font-weight: 400;
}

.form-head b {
    font-weight: 500;
    color: white;

}

.form-caption {
    font-weight: 400;
    color: white;
    padding: 20px 0 20px 0;
}

.form-content form label {
    font-size: 18px;
    color: #484877;
    font-weight: 400;
    padding: 10px 0 2px 10px;
}

.form-content form input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 40px;
    /* margin: 10px 20px 10px 0; */
    background-color: #f9fdf9;
}

.form-content form textarea {
    width: 100%;
    height: 250px;
    padding: 12px;
    border: none;
    border-radius: 20px;
    /* margin: 10px 20px 10px -10px; */
    background-color: #f9fdf9;
}

.form-content form button {
    padding: 10px 50px 10px 50px;
    border: none;
    background-color: #484877;
    margin-top: 25px;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.location-items {
    padding: 30px;
    text-align: center;
}

.loaction-icon i {
    font-size: 50px;
    /* border: 1px solid #efbb1c; */
    padding: 20px;
    border-radius: 5px;

    color: white;
    margin: 10px;
}

.location-items hr {
    height: 2px;
    width: 20%;
    /* align-items: center; */
    color: white;
    background-color: #fff;
}

.location-items .feature-head {
    border-bottom: 2px solid white;
    width: fit-content;
    padding-bottom: 10px;
}

.location-items .feature-caption {
    color: #484877;
    font-weight: 400;
}

/* -------------contact-from-style-start ----------------  */


/* -----------contact page-style-end--------------------- */

/* blog start */
.blog-banner {
    background-image: url(./images/aerial-view-business-team.jpg );
    background-size: cover;
    max-height: fit-content;
}

.blog-btn {
    border: 1px solid #efbb1c;
    background-color: #005395;
    border-radius: 30px;
    float: inline-end;
}

.search-container {
    width: 200px;
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    width: calc(100% - 30px);
    padding: 5px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 12px;
    box-sizing: border-box;
}

.searchIcon {
    position: absolute;
    right: 5px;
    width: 20px;
    height: 20px;
}

.card img {
    height: 80px;
    width: 80px;
}

.card {
    border: 1px solid white;
}

.noofposts {
    float: inline-end;
}

.select {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #484877;
    box-shadow: 3px 3px white;
}

/* blog end */

/* team start */
.team-banner {
    background-image: url(./images/30.png);
    /* backface-visibility: hidden; */
    background-size: contain;
    background-repeat: no-repeat;

}

.team-img-banner {
    /* border: 1px solid red; */
    height: 500px;
}

.team-img-banner img {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
    object-position: top;
}

.team-ceo {
    padding: 80px 30px;
}

.team-ceo span {
    color: #efba1c;
    font-size: large;
}

.team-ceo h4 {
    font-weight: 600;
}

.team-ceo p {
    font-weight: 400;
}

.card-img {
    /* border: 1px solid black; */
    width: 100%;
    height: 300px;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.team-ceo-icons a {
    color: #005395;
    padding: 5px;
}

/* 
.team-members img{
    height: 300px;
    width: 350px;
}
.team-members h4{
    font-weight: 500;
}
.team-members p{
    font-weight: 400;
}*/
.team-members .card {
    border: 2 px solid #484877;
    text-align: center;
    justify-content: center;
    align-items: center;
}



/* ------------footer-start----------------- */

footer {
    background-color: #005395;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: #484877;

}
.home-footer .logo img{
    margin-top: 0 !important;
}
.home-footer .icons{
    margin-top: 0 !important;
}

.footer-li a {
    text-decoration: none;
    color: #484877 !important;
}

footer .container {
    width: 90%;
    margin: 0 auto;
}

footer .align-items-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .text-right {
    text-align: right;
}

footer .text-right a {
    margin-left: 10px;
}

footer .row {
    margin-bottom: 20px;
}

footer hr {
    margin: 30px 0;
    border: 0;
    height: 2px;
    background-color: white;
    border-top: 1px solid white;
}

footer form {
    margin-top: 10px;
}

footer input[type="email"] {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

footer button[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #efbb1c;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

footer button[type="submit"]:hover {
    background-color: transparent;
    border: 1px solid #ffff;
}

/* footer {
    flex-shrink: 0; 
    z-index: -2;
    position: fixed;
    bottom: 0;
    width: 100%;
  } */
/* .fixed-bottom{
    z-index: -2;
} */

footer {
    height: auto;
    font-size: 20px;
    color: #ffff;
}

footer .container {
    background-attachment: 100%;
    background-size: cover;
    background-position: contain;
}

footer a {
    color: #ffff !important;
}

.footer-li li,
.bold {
    font-weight: 400;
    color: #fff;
}

/* --------------footer-end------------------ */




@media (max-width:990px) {
    .navbar-items {
        display: none;
    }

    .hamburger-menu {
        display: block;
        font-size: 20px;

    }
    .des-logo{
        display: none;
    }
    .mbl-logo{
        display: block;
    }

    .sticky-logo {
        margin-top: -5px !important;
    }

    .team-ceo {
        text-align: center;
        margin-top: -60px;
    }

    .team-members {
        margin-left: 60px;
    }

    .caption-inner {

        left: 0px;
        padding: 100px 30px;

    }

    .caption-banner {

        margin-left: 20px;
        padding: 10px;
        font-size: 16px;
        font-weight: 400;
    }

    .caption-head {
        margin: 20px;
        font-size: 30px;
        font-weight: 400;
        color: #484877;
    }

    .home-banner-sec {
        margin-top: 0;
    }

    .sectors-div {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
        gap: 30px;
    }

    .process-item-col{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .start-your-project-sec{
        text-align: left;
        padding: 20px;
        padding-top: 50px;
    }
    .start-your-project-sec h2{
        font-size: 35px;
    }

   
}

@media (max-width:910px){
    .web-technologies {
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
        justify-content: center;
        gap: 25px;
    
    }
}

@media(max-width:800px) {
    .sectors-div {
        display: grid;
        grid-template-columns: 3fr 3fr;
        gap: 30px;
    }
    .we-provide-item {
        grid-template-columns: 2fr;
    }
    .we-provide-img {
        width: 100%;
        height:300px;
        padding: 0 ;
    }
    .we-provide-img img{
        object-fit: contain;
    }
    
}

@media (max-width:700px) {
    .stand-for-section {
        padding: 100px 0 100px 0;
    }

    .about-container {
        padding: 0 10px 50px 25px;
    }

    .review-content {
        padding: 0;
    }

    .caption {
        position: absolute;
        top: 25%;
        text-align: left;
        /* padding: 20px; */
    }

    .caption-banner {
        font-size: 18px;
    }

    .caption-head,
    .stand-for-head,
    .client-head,
    .review-head {
        font-size: 40px;
    }

    .content-head {
        font-size: 32px;
    }

    footer h4 {
        font-size: 18px;
    }

    /* .sticky-logo{
        margin-top: -5px !important;
    } */

    .caption-inner {
        top: 91px !important;
        left: 0px;
        padding: 20px 30px;


    }

    .caption-banner {
        border-bottom: 1px solid white;
        margin-left: 20px;
        padding: 10px;
        font-size: 15px;
        font-weight: 400;
    }

    .caption-head {
        margin-top: -5px;
        font-size: 25px;
        font-weight: 400;
        color: #484877;
    }

    .services-top .service-content {
        padding: 50px 10px 0 10px !important;
        text-align: center;
    }

    .about-feature-sec {
        padding: 0;
    }


}

@media (max-width:600px){
    .web-technologies {
        display: grid;
        grid-template-columns:1fr 1fr;
        justify-content: center;
        gap: 25px;
    
    }
}

@media (max-width:500px) {
    .sidenav-container {
        width: 100%;
    }

    .sectors-div {
        padding: 0 30px;
        display: grid;
        grid-template-columns: 3fr;
        gap: 40px;
    }
    .web-technologies {
        display: grid;
        grid-template-columns:1fr;
        justify-content: center;
        gap: 25px;
    
    }
    .process-item-col{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .process-item-inner{
        width: 300px;
    }

}

@media (max-width:430px) {
    .caption-inner {

        left: 0px;
        padding: 10px 80px 50px 20px;

    }

    .caption-banner {

        margin-left: 20px;
        padding: 5px;
        font-size: 10px;
        font-weight: 400;
    }

    .caption-head {
        margin-top: -5px;
        font-size: 20px;
        font-weight: 400;
        color: #484877;
    }

    .home-banner-sec {
        margin-top: 0;
    }

}

@media (min-width: 992px) {
    .teams-img {
        margin-left: 200px;
    }
}





/* .testimonial-swipper swiper-container{
    border: 1px solid red;
    margin: 100px auto;
      width: 500px;
      height: 500px;
     
}

.testimonial-swipper swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #000;
    background-color: #ffff;
  }

  .testimonial-swipper swiper-pagination{
    border: 1px solid red;
    background-color: red;
    border: 1px solid red;
  background-color: red;
  position: relative; 
  bottom: 10px;
  } */